<div class="fontSliderHolder">
    <div class="sliderT">A</div>
    <div class="holder">
        <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider-horizontal"><div style="bottom: 0px; top: 0%; height: 100%;" class="ui-slider-range ui-widget-header"></div><a style="bottom: 100%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a></div>    
    </div>
    <div class="sliderB">A</div>
</div>