<div class="margin-t-md text-center col-sm-3 col-xs-12 changeColor inline-block">
  <button class="btn btn-primary jscolor {onFineChange:'update(this)'}" style="border:2px solid black"></button>
</div>


<script>
function update(jscolor) {
    $('#colorSelector div').css('backgroundColor', '#' + jscolor);
    $(".live_text_samples").css('color', '#' + jscolor);
    $(".script_input_field").css('color', '#' + jscolor);
}
</script>