@font-face {
    font-family: '28 Days Later'; /*a name to be used later*/
    src: url("https://s3.amazonaws.com/ctd.scriptbuilder.fonts/01/0150/01503947da3a85afad9790e5e2fce995/font.ttf");
}

.herculanum{
  font-family: "28 Days Later";
}
.georgia{
  font-family: "Georgia";
}
.menlo{
  font-family: "Menlo";
}
.optima{
  font-family: "Optima";
}
.tahoma{
  font-family: "Tahoma"
}