.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: image-url('banner-image.jpg') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    font-size: 130px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    font-size: 77px;
}

footer {
    margin: 50px 0;
}

// Font-Sizing Styling
.font-size-list{
    float: right;
    li{
        float: left;
        margin: 0px 20px;
        list-style-type: none;
    }
}

// Font Examples

.font_examples {
    ul{
        padding: 0px;
    }
    li{
        list-style-type: none; 
        margin: 5px 10px;
        line-height: 120%;
        font-size: 1.3em;
    }
}

// Font Slider

.ui-slider-track {
    margin: 10px!important;
    width:95%!important;
}

// 




// Responsive Styling

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {

}